.button {
  outline: none;
  border: 0;
  background: #1d78b7;
  color: #ffffff;
  padding: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 7px;
  cursor: pointer;
}

.button:disabled {
  background: #ccc6c6;
}

.number {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  font-weight: bold;
}

.number > span {
  font-weight: normal;
}
